#calculator {
  border: 1px solid rgb(188, 177, 174);
  border-radius: 5px;
  width: 200px;
  margin-top: 150px;
  margin-left: 600px;
}
#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
